.full-screen {
  height: 100vh;
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.bordered {
  border: 10px solid rgb(226, 226, 226);
}

.main-btn {
  min-width: 120px;
  padding: 10px;
  text-transform: capitalize;
  background-color: var(--main-button-background);
  color: var(--main-font-color);
  transition: all .3s ease;
}

.main-btn:hover {
  background-color: var(--main-button-hover-background);
}

.main-btn:focus {
  outline: rgb(0, 95, 204) auto 1px;
}

.hand-drawn {
  border: 2px solid var(--main-button-border);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  /*
      Above is shorthand for:
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-bottom-right-radius: 225px 15px;
      border-bottom-left-radius:15px 255px;
      */
}

.container {
  padding: 50px;
}

.no-select {
  user-select: none;
}

.disabled {
  cursor: default !important;
}

:root {
  --main-button-background: rgb(212, 212, 212);
  --main-button-hover-background: rgb(191, 191, 191);
  --main-button-border: #41403E;
  --main-font-color: #000;

  --secondary-button-background: #EFF0ED;
  --secondary-button-active-border: #5D6591;
  --secondary-font-color: #333;
}
