#room-list-container {
  display: none;
}
.disabled {
  display: none !important;
}
.game-title {
  margin: 0;
  text-transform: capitalize;
}
.game-btn {
  margin-top: 50px;
  min-width: 200px;
}
.room-list {
  margin: 0;
  padding: 50px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  list-style: none;
}
.room-item {
  padding: 10px;
}
.room {
  align-items: center;
  min-height: 200px;
}
.room__active-users {
  align-self: flex-start;
  font-style: italic;
  font-size: 14px;
}
.user__number {
  flex-grow: 1;
  text-transform: capitalize;
  font-size: 24px;
}
