#login .navigation-container input {
  width: 300px;
  margin: 0 20px;
  padding: 10px;
  font-size: 1.2em;
  background-color: #fff;
  color: #000;
}

#login .navigation-container input::placeholder {
  font-style: italic;
}

#login .navigation-container button {
  text-transform: uppercase;
}
