#single-room-container {
  /*display: none;*/
}
.info {
  flex-shrink: 0;
  margin-right: 50px;
}
.back-btn {
  margin-top: 25px;
}
.user-list {
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
}
.user {
  margin-bottom: 20px;
}
.user:last-child {
  margin-bottom: 0;
}
.user__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.user__status {
  flex-shrink: 0;
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: tomato;
}
.user__status--ready {
  background: #61bd04;
}
.user__name {
  font-size: 14px;
}
.user__progress {
  position: relative;
  height: 10px;
  width: 200px;
}
.user__progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background: #61bd04;
}
.user__progress-bar--done {
  width: 100%;
  background: rgb(41, 253, 47)
}

.game-board {
  width: 500px;
  height: 500px;
}
.start-game {

}
